@media (min-width:300px) and (max-width:766px) {
    .skill-card{
        width: 80%;
    }
    .contact-row{
        flex-direction: column-reverse;
    }
    .form-top{
        grid-template-columns: 1fr;
    }
    .contact form .contact-btn{
        width: 100vw;
    }
    .herosection .hero-img{
        width: 100% !important;
    }
    .stats .card p{
        width: 100% !important;
    }
    .stats .card{
        align-items: center !important;
        padding-left: 1.5rem;
        display: grid;
        gap: 0rem;
    }
    .service-card{
        grid-row: span 2;
        grid-template-columns: 1fr;
    }
    .stats .card{
        align-items: center !important;
    }
    .services .card p.ab{
        width: 100% !important;
    }
    .serve-left .arrow2{
        display: none;
    }
    .serve-left .text{
       width: 100%;
    }
}

@media (min-width:767px) and (max-width:785px) {
    .herosection .hero-img{
        width: 50%;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .stats .card{
        align-items: center !important;
    }
    .services .card .ab{
        width: 100%;
    }
}

@media (min-width:767px) and (max-width:1024px) {
    .serve-right .arrow1{
        display: none;
    }
}